@import '~antd/dist/antd.css';


.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
}

.Form-container {
  width: 80%;
  display: flex;
}

.Form-input {
}

.App-results {
  flex: auto;
  width: 80%;
  height: 80vh;
}